.product{
  display: flex;
  border-bottom: 1px solid gray;
  margin: 10px 0 ;
}
.product-image{
  margin:0 18px 8px 0;
  padding: 8px
}
.product-name{
  color: blue;
  font-weight: 400;
}
.main-btn{
  width: 180px;
  background-color:goldenrod;
  padding: 4px 8px;
  border: 1px solid #666;
  border-radius: 4px;
  cursor: pointer;
}