*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.twin-container{
  display: flex;

}
.product-container{
  min-width: 70%;
  padding: 0 16px;
  margin-right: 5px;
  margin-left: 12px;
  border-right: 1px solid gray;
}
.cart-container{
  min-width: 25%;
}